.list-info {
    display: flex;
    justify-content: center;

    button {
        outline: none;
        cursor: pointer;
        padding: 5px 10px;
        font-size: 13px;
        font-weight: 300;
        margin: 0 5px;
        border: 1px solid transparent;
        border-radius: 4px;

        &:hover {
            border-color: #e8e7e7;
        }

        &.selected {
            border-color: #d4d0d0;
        }

    }
}